.consist{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $darkViolet;
    width: calc(100% - 100px);
    margin: 0 auto;

    @include laptop {
        grid-template-columns: 100%;
    }

    @include tablet {
        flex-direction: column;
    }

    @include wideMobile {
        width: calc(100% - 40px);
    }

    &__text {
        z-index: 1;
    }

    &__list {
        z-index: 1;
        width: 255px;
        list-style-type: none;
        margin: 0;
        padding: 90px 100px 90px 0;

        @include tablet {
            padding: 100px 0 215px 60px;
        }

        @include wideMobile {
            width: calc(100% - 40px);
            padding: 60px 0 135px 20px;
        }
    }

    &__item {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        color: $white;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
        padding: 0 0 4px 0;
        margin: 0 0 30px 0;

        @include wideMobile {
            font-size: 22px;
            line-height: 22px;
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
        }
    }
    &__item:last-of-type {
        margin: 0;
    }
}

.consist::before {
    content: "";
    position: absolute;
    top: 123px;
    right: 533px;
    z-index: 0;
    width: 185px;
    height: 185px;
    background: $lime;
    border: 3px solid $green;
    border-radius: 50%;
    box-sizing: border-box;
    animation: up-zoom 4s ease-in-out infinite;

    @include laptop {
        right: 420px;
    }

    @include tablet {
        top: 300px;
        right: 60px;
    }

    @include wideMobile {
        display: none;
    }
}

.consist::after {
    content: "";
    position: absolute;
    bottom: 121px;
    right: 481px;
    z-index: 0;
    width: 138px;
    height: 138px;
    background: $yellow;
    border: 3px solid $darkBlue;
    border-radius: 50%;
    box-sizing: border-box;
    animation: up-zoom 4s ease-in infinite;

    @include laptop {
        right: 360px;
    }
    @include tablet {
        bottom: 272px;
        right: 60px;
    }

    @include wideMobile {
        display: none;
    }

    @keyframes up-zoom {
        0% {
            transform: translateY(0);
            transform: scale(70%);
        }

        50% {
            transform: translateY(-25%);
            transform: scale(100%);
        }

        100% {
            transform: translateY(0);
            transform: scale(70%);
        }
    }
}
