.consist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 126px;
    background-color: $darkViolet;
    width: calc(100% - 100px);
    margin: 0 auto;

    @include laptop {
        grid-template-columns: 100%;
        column-gap: 0;
    }

    @include wideMobile {
        width: calc(100% - 40px);
    }

    &__list {
        grid-column: 3;
        justify-self: flex-end;
        width: 255px;
        list-style-type: none;
        margin: 0;
        padding: 90px 100px 90px 0;

        @include laptop {
            grid-column: 1;
            grid-row: 3;
            justify-self: flex-start;
            align-self: flex-start;
            padding: 100px 0 100px 60px;
        }

        @include wideMobile {
            width: calc(100% - 40px);
            padding: 60px 0 60px 20px;
        }
    }

    &__item {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        color: $white;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
        padding: 0 0 4px 0;
        margin: 0 0 30px 0;

        @include wideMobile {
            font-size: 22px;
            line-height: 22px;
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
        }
    }

    &__item:last-of-type {
        margin: 0;
    }

    &__bubble-lime {
        grid-column: 2;
        grid-row: 1;
        align-self: flex-start;
        justify-self: flex-start;
        padding: 123px 0 0 136px;

        @include laptop {
            grid-column: 1;
            grid-row: 3;
            align-self: flex-start;
            justify-self: flex-end;
            padding: 100px 60px 0 0;
        }

        @include wideMobile {
            display: none;
        }
    }

    &__bubble-yellow {
        grid-column: 2;
        grid-row: 1;
        align-self: flex-end;
        justify-self: flex-end;
        padding: 0 0 121px 0;

        @include laptop {
            grid-column: 1;
            grid-row: 3;
            padding: 0 60px 157px 0;
        }

        @include wideMobile {
            display: none;
        }
    }
}