.tastes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $violet;
    width: calc(100% - 100px);
    margin: 0 auto;

    @include laptop {
        flex-direction: column;
    }

    @include wideMobile {
        width: calc(100% - 40px);
    }

    &__image {
        max-width: 518px;
        max-height: 345px;
        padding: 90px 100px 90px 0;

        @include laptop {
            padding: 60px;
        }

        @include tablet {
            max-width: calc(100% - 120px);
        }

        @include wideMobile {
            padding: 50px 20px 20px 20px;
        }
        
    }
}