$red: hsla(0, 55%, 44%, 0.473);
$dark: hsl(0, 0%, 50%);
$white: hsl(0, 0%, 100%);
$violet: hsl(263, 89%, 67%);
$darkViolet: hsl(257, 92%, 65%);
$lime: hsl(76, 88%, 68%);
$yellow: hsl(52, 100%, 50%);
$green: hsl(168, 98%, 20%);
$darkBlue: hsl(223, 54%, 25%);